{% trans_default_domain 'FOSUserBundle' %}
<div class="container flex-column height form-position">
    <div class="form-control">
        <h1 class="text-center">Registreren</h1>
{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_widget(form) }}
    <div>
        <input class="btn btn-primary" type="submit" value="{{ 'registration.submit'|trans }}" />
    </div>
{{ form_end(form) }}
    </div>
</div>